/* syntax.css */
.hljs {
  color: var(--code-fg);
  background: var(--code-bg);
}

.hljs-keyword,
.hljs-operator,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: var(--hljs-keyword);
}

.hljs-function .hljs-keyword {
  color: var(--hljs-keyword);
}

.hljs-subst {
  color: var(--code-fg);
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--hljs-string);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: var(--hljs-comment);
}

.hljs-number,
.hljs-regexp {
  color: var(--hljs-number);
}

.hljs-title.class_,
.hljs-title.function_ {
  color: var(--hljs-title);
}

.hljs-attr {
  color: var(--hljs-attr);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
